
.background {
    background-image: url('/assets/depositphotos.jpg');
    background-size: cover;
    background-position: center;
    height: 85vh; 
    width: 100%;   
  }

  .background {
    background-color: #f2f2f2; /* Grey background color */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Horizontally center the content */
    align-items: flex-start; /* Align items at the start (top) of the container */
}
